{% extends 'base.html.twig' %}

{% block title %}Sci-Fi Paradise{% endblock %}

{% block body %}
    <div data-bs-parallax-bg="true" class="paralax-home">
        <p class="text-center site-title">Sci-Fi Paradise</p>
        <h1 class="text-center" style="font-size: 22px;color: #ffffff;"><em>Votez pour vos livres de Science-Fiction préférés !</em></h1>
    </div>
    <div class="container text-center" id="TopBook">
        <h2 class="h2">Top livres du moment</h2>
    </div>
    <div id="row-column">
        <div class="container">
            <div class="row">
                {% for book in books %}
                    <div class="col-md-3" style="margin-bottom: 1rem;">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">{{ book.title }}</h4>
                                <h6 class="text-muted card-subtitle mb-2">{{ book.author }}</h6>
                                <img class="img-fluid" style="background-image: url('{{ asset('assets/img/cover/')~book.cover.name }}');width: 150px;height: 200px;margin-bottom: 1rem;background-size: cover;background-repeat: no-repeat;" />
                                <div class="d-flex justify-content-center">
                                    
                                    <a class="btn btn-primary" role="button" data-bs-hover-animate="tada" data-toggle="tooltip" data-bs-tooltip="" title="Vote +" style="margin-right: 1rem;" href="{{ path('plus', {'id': book.id}) }}"><i class="far fa-arrow-alt-circle-up" style="font-size: 1.5rem;color: #ffffff;"></i></a>
                                    
                                    <a class="btn btn-danger" role="button" data-bs-hover-animate="tada" data-toggle="tooltip" data-bs-tooltip="" title="Vote -" style="margin-right: 1rem;" href="{{ path('moins', {'id': book.id}) }}"><i class="far fa-arrow-alt-circle-down" style="font-size: 1.5rem;color: #ffffff;"></i></a>
                                    
                                </div>
                                <p class="text-muted" style="margin-top: 0.5rem;margin-bottom: 0px;">Score&nbsp; : {{ book.score }} pts.</p><a class="card-link" href="{{ path('book_show', {'id': book.id}) }}">En savoir plus...</a></div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-3" style="margin-bottom: 1rem;"></div>
                <div class="col-md-3" style="margin-bottom: 1rem;"></div>
                <div class="col-md-3" style="margin-bottom: 1rem;"></div>
            </div>
        </div>
    </div>
{% endblock %}
