{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex flex-row justify-content-xl-between align-items-bottom" style="margin: 1rem">
        <h1>Liste des livres disponibles</h1> 
        {% if app.user %}<a href="{{ path('book_new') }}"><button class="btn btn-primary"style="margin-top: 1rem;">{{ button_label|default('Ajouter un livre') }}</button></a>{% endif %}
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Couverture</th>
                <th>Id</th>
                <th>Title</th>
                <th>Auteur</th>
                <th>Date</th>
                {# <th>Summary</th> #}
                <th>Score</th>
                <th>Style</th>
                <th>Vote +</th>
                <th>Vote -</th>
                {% if app.user %}<th>actions</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('book_show', {'id': book.id}) }}"><img class="img-fluid" style="background-image: url('{{ asset('assets/img/cover/')~book.cover.name }}');width: 100px;height: 150px;margin-bottom: 1rem;background-size: cover;background-repeat: no-repeat;" /></a></td>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.date }}</td>
                {# <td>{{ book.summary }}</td> #}
                <td>{{ book.score }}</td>
                <td>{{ book.style }}</td>
                <td>
                    <a class="btn btn-primary" role="button" data-bs-hover-animate="tada" data-toggle="tooltip" data-bs-tooltip="" title="Vote +" style="margin-right: 1rem;" href="{{ path('plus', {'id': book.id}) }}"><i class="far fa-arrow-alt-circle-up" style="font-size: 1.5rem;color: #ffffff;"></i></a>
                </td>
                <td>
                    <a class="btn btn-danger" role="button" data-bs-hover-animate="tada" data-toggle="tooltip" data-bs-tooltip="" title="Vote -" style="margin-right: 1rem;" href="{{ path('moins', {'id': book.id}) }}"><i class="far fa-arrow-alt-circle-down" style="font-size: 1.5rem;color: #ffffff;"></i></a>
                </td>
                {% if app.user %}
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
