{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ book.title }}</h1>
    {% for user in book.users %}
    <p>Livre ajouté par @{{ user.firstname }}</p>
    {% endfor %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ book.date }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ book.summary }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ book.score }}</td>
            </tr>
            <tr>
                <th>Style</th>
                <td>{{ book.style }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('book_index') }}"><button class="btn btn-outline-primary"style="margin-top: 1rem;">{{ button_label|default('Retour à la liste') }}</button></a>
    {% for user in book.users %}
        {% if app.user.firstname == user.firstname %}
            <a href="{{ path('book_edit', {'id': book.id}) }}"><button class="btn btn-primary"style="margin-top: 1rem;">{{ button_label|default('Editer') }}</button></a>
            {{ include('book/_delete_form.html.twig') }}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
