<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sci-Fi Paradise{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset ('assets/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
            <link rel="stylesheet" href="{{ asset ('assets/fonts/fontawesome-all.min.css') }}">
            <link rel="stylesheet" href="{{ asset ('assets/fonts/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset ('assets/fonts/fontawesome5-overrides.min.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
            <link rel="stylesheet" href="{{ asset ('assets/css/Navigation-with-Button.css') }}">
            <link rel="stylesheet" href="{{ asset ('assets/css/Social-Icons.css') }}">
            <link rel="stylesheet" href="{{ asset ('assets/css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset ('assets/css/solar.css') }}">
            <!-- Load Flashy default CSS -->
            <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
            <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        {% endblock %}
    </head>
    <body style="height: 100vh">
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="{{ path('home') }}" style="font-family: Orbitron, sans-serif;">Sci-Fi Paradise</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path('book_index') }}"><i class="fas fa-book"></i>Livres</a></li>
                        {% if app.user %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path('book_new') }}"><i class="fa fa-plus"></i>&nbsp;Livres</a></li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path('user_index') }}"><i class="fas fa-user"></i>&nbsp;Liste des membres</a></li>
                        {% endif %} 
                    </ul>
                    <span class="navbar-text actions">
                        {% if not app.user %}
                            <a class="login" href="{{ path('security_connect') }}">Connexion</a>
                        {% else %}        
                            <a class="login" href="{{ path('security_logout') }}">Déconnexion</a>
                        {% endif %} 
                        <a class="btn btn-light action-button" role="button" href="{{ path('security_registration') }}">Inscription</a>
                    </span>
                </div>
            </div>
        </nav>
        {# start Body here #}
        {% block body %}{% endblock %}
        {# end Body here #}
        {# <div class="bg-light">
        <footer class="footer">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li>Web design</li>
                            <li>Development</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>A propos</h3>
                        <p class="text-muted" style="font-size: 0.9em;">Site réalisé avec Symfony | Bootsrap Studio.</p>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Contactez-moi</h3>
                        <ul>
                            <li><a href="https://www.linkedin.com/in/dimitri-basseguy/" target="_blank">Linkedin</a></li>
                            <li><a href="https://www.malt.fr/profile/dimitribasseguy" target="_blank">Malt</a></li>
                            <li><a href="https://dimitribasseguy.wixsite.com/webmarketing" target="_blank">Online</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                        <p class="copyright">Sci-Fi Paradise © 2020</p>
                    </div>
                </div>
            </div>
        </footer> #}
        {% block javascripts %}
            <!-- Flashy depends on jQuery -->
            <script src="//code.jquery.com/jquery.js"></script>
            <script src="{{ asset ('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset ('assets/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset ('assets/js/bs-init.js') }}"></script>
            <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        {% endblock %}
        <!-- Include Flashy default partial -->
        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    </body>
</html>
