{{ form_start(form) }}
        <p style="margin-bottom: 0px;margin-top: 1rem;">{{ form_row(form.firstName, {'label': 'Prénom', 'attr': {'placeholder': 'votre prénom', 'class':'form-control'}}) }}</p>
        <p style="margin-bottom: 0px;margin-top: 1rem;">{{ form_row(form.lastName, {'label': 'Nom', 'attr': {'placeholder': 'votre nom', 'class':'form-control'}}) }}</p>
        <p style="margin-bottom: 0px;margin-top: 1rem;">{{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'votre email', 'class':'form-control'}}) }}</p>
        <p style="margin-bottom: 0px;margin-top: 1rem;">{{ form_row(form.avatar, {'label': 'Avatar', 'attr': {'placeholder': 'Lien d\'avatar', 'class':'form-control'} }) }}</p>
        <button class="btn btn-primary" type="submit" style="margin-top: 1rem;">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
