{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ user.firstName }}</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr> #}
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td><img class="img-fluid" style="background-image: url('{{ user.avatar }}');width: 300px;height: 350px;margin-bottom: 1rem;background-size: cover;background-repeat: no-repeat;" /></td>
            </tr>
            {# <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('user_index') }}"><button class="btn btn-outline-primary"style="margin-top: 1rem;">{{ button_label|default('Retour à la liste') }}</button></a>
    {% if app.user %}
        {% if app.user.firstname == user.firstname %}
            <a href="{{ path('user_edit', {'id': user.id}) }}">
                <button class="btn btn-primary"style="margin-top: 1rem;">{{ button_label|default('Editer') }}</button>
            </a>
            {{ include('user/_delete_form.html.twig') }}
        {% endif %}
    {% endif %} 

</div>
{% endblock %}
